.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  background-color: #181824;
  height: 65px;
  flex-direction: row;
  padding: 19px 160px;
  box-sizing: border-box;
  justify-content: center;
}
