.navlistlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-33xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--buttontext);
}
