.landinginit {
  display: flex;
  align-items: center;
}

.landinginit {
  position: relative;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
